extends ../user_layout

block content
  h1 ALL THE USERS
  table.table.table-hover
    thead
      th Name
      th Posts
    tbody
      each user in users
        tr
          td= user.alias
          td
            a(href="/users/#{user.id}") See this user's page
