extends ../user_layout
  
block content  
  if user
    h1= user.alias
    img(src="#{user.photo}" class="large_photo")
  a(href="/users/#{user.id}/edit") Edit User
  hr
  a(href="/users/#{user.id}/photos/new") Add a photo 
  
  
    
