extends ../user_layout

block header
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.2/css/uikit.min.css')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.2/js/uikit.min.js')
  // Codemirror and marked dependencies
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/codemirror.css')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/codemirror.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/markdown/markdown.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/addon/mode/overlay.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/xml/xml.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/gfm/gfm.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.js')
  // HTML editor CSS and JavaScript
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.2/css/components/htmleditor.css')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.2/js/components/htmleditor.js')
block content
  textarea(data-uk-htmleditor="{markdown:true}")
  script
    var lolDiv = $('<div>').append($('.uk-htmleditor-preview').clone()).children().html();